# ==== Clock inputs (CLK) ====
NET "clk" LOC = "P84";
NET "led"  LOC = "P39";
NET "rst"  LOC = "P105"  | PULLUP;

NET  "rst" CLOCK_DEDICATED_ROUTE = FALSE;

# ==== UART ====
NET "uart_rxd" LOC = "P69";
NET "uart_txd" LOC = "P70";

# ==== I2C ====
NET "scl"		LOC = "P80" | IOSTANDARD = LVCMOS33;
NET "sda"		LOC = "P81" | IOSTANDARD = LVCMOS33;

# ==== pH  ====

NET "led_out"		LOC = "P82" | IOSTANDARD = LVCMOS33;

